h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

header, div{
    margin-left: 150px;
    margin-right: 150px;
}


*{
    box-sizing: border-box;

}

.container{
    width: 80%;
    /* margin: auto; */ /* mettendo margin auto me li spostava tutti a sinistra*/
}





.box {
    background-color: black;
    width: 29%;
    margin-right: 12px;
    margin-bottom: 25px;
    float: left;
    margin-left: auto;
    
}





img {
    height: 4rem;
    float: left;
    margin-right: 1rem;
}

.testo {
    color: white;
    height: 2rem;
    margin-left: 80px;
    font-size: 12px;
    line-height: 1px;
    width: max-content;
    font-family: Arial, Helvetica, sans-serif;
}


.email{
    color: deepskyblue;
}


.clearfix {
    clear: both;
}